<!-- views/products.hbs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <style>
        nav {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: center;
        }

        nav ul li {
            margin: 0 15px;
        }

        nav ul li a {
            text-decoration: none;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        nav ul li a:hover {
            background-color: #555;
        }
        .product-card {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            padding: 16px;
            margin: 16px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease-in-out;
        }

        .product-card:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }

        .product-card h2 {
            margin-top: 0;
            font-size: 1.5rem;
        }

        .product-card p {
            margin: 8px 0;
            font-size: 1rem;
        }

        /* Estilos para el botón agregar al carrito */
        .add-to-cart-button{
            background-color: #007bff;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .add-to-cart-button:hover {
            background-color: #0056b3;
        }
      .pagination {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .pagination-item {
        margin: 0 5px;
    }

    .pagination-link {
        text-decoration: none;
        padding: 5px 10px;
        border: 1px solid #333;
        border-radius: 5px;
        color: #333;
        cursor: pointer;
    }

    .pagination-link.active {
        background-color: #333;
        color: #fff;
    }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/cart">Carrito</a></li>
             <li><a href="/products">productos</a></li>
        </ul>
    </nav>



    <h1>Productos</h1>
<div>
  Tipos:
  {{#each tipos}}
    <span>{{this}}</span>
  {{/each}}
</div>


 <select id="categoryFilter">
    <option value="all">Todos</option>
    <option value="buzo">Buzos</option>
    <option value="zapatillas">Zapatillas</option>
    <option value="remera">Remeras</option>
    <option value="gorra">Gorras</option>
  </select>
<!-- Contenedor para los productos -->
<div id="productList">
    {{#each products}}
        <div class="product-card" data-tipo="{{tipo}}">
            <h2>{{nombre}}</h2>
            <p>{{descripcion}}</p>
            <p>Precio: ${{precio}}</p>
            <p>Stock: {{stock}}</p>
            <!-- Botón para agregar al carrito -->
            <button class="add-to-cart-button" data-product-id="{{_id}}">Agregar al carrito</button>
            <!-- Añade más detalles si es necesario -->
        </div>
    {{/each}}
</div>
<div>
    Página:
    <ul class="pagination">
        {{#each pages}}
            <li class="pagination-item">
                <a href="/products?page={{this}}" class="pagination-link {{#if (eq ../currentPage this)}}active{{/if}}">{{this}}</a>
            </li>
        {{/each}}
    </ul>
</div>

    <script src="/js/products.js"></script> 
    <script src="/js/cart.js"></script>
</body>

</html>
